////
/// @group datatables 
////


/************************************************************************************************
	Datatable styles overrides.
************************************************************************************************/

///
/* Add extra el to override */
table.dataTable {
	thead {
		th {
			text-align: left;
			vertical-align: top;
		}

		.sorting, .sorting_desc {
			background-position: -1px 8px !important;
		}

		.sorting_asc {
			background-position: -1px 9px !important;
		}

		.no-sort {
			background: none !important;
		}
	}

	&.hover tbody tr:hover,
	&.hover tbody tr:hover > .sorting_1,
	&.order-column.hover tbody tr:hover > .sorting_1 {
		background-color: #cdecff !important;
	}
	
	/* Make padding the same for heading and cells to line up. */
	thead tr th,
	tbody tr td {
		padding: 8px 16px;
	}
}


.dataTables_length {
	margin-bottom: 2rem;
}

.dtr-inline.collapsed > tbody td:first-child::before,
.dtr-inline.collapsed > tbody th:first-child::before {
	top: 50%;
}


div.dataTables_wrapper .dataTables_filter {
	margin-bottom: 1rem;
	
	input {
		background: #fff;
		padding: 8px;
	}
}


.dataTables_wrapper div.dt-buttons {
	position: relative;
	float: none;
}


@media screen and (max-width: 640px) {
	.dataTables_wrapper div.dataTables_length,
	.dataTables_wrapper div.dataTables_filter {
		float: none; 
		text-align: left;
	}
}
