////
/// @group forms 
////

::placeholder {
	color: #666;
}


/// Text field, area and select are automatically set to 100% 
input[type=text],
input[type=url],
input[type=search],
input[type=email],
input[type=password],
input[type=date],
input[type=number],
textarea,
select {
	background: #fff;
	border: var(--field-border);
	border-radius: .25rem; /* = .br3 */
	outline-offset: 0;
	padding: 6px;
	width: 100%;
}

/// Text field spacing and readonly.
input {
	[type=checkbox] {
		height: 20px;
		width: 20px;
	}

	&:not([type=checkbox]) {
		padding-bottom: 9px;
		padding-top: 9px;
	}
	
	&[type=date] {
		padding-bottom: 8px;
		padding-top: 8.5px;
	}
}
 
/// Textcolor border on focus, blue border on hover.
input, textarea, select {
	&:focus {
		border-color: var(--textcolor);
		box-shadow: 0 0 0 1px var(--textcolor) inset;
	}
	&:hover {
		border-color: var(--blue);
		box-shadow: 0 0 0 1px var(--blue) inset;
	}
}


select[multiple] {
	height: 100px;
}

/// Add class to label, shows red * denoting it's required.
.bl-field-required:after {
	content: '*';
	margin-left: 5px;
	color: red;
}

/// Styled checkbox and radio buttons.
.bl-checkboxradio {
	position: relative;
	
	input {
		position: absolute;
		opacity: 0;
	
		&:focus {
			+ label {
				outline: 1px dotted var(--textcolor);
			}
			&:active + label {
				outline: none;
			}
		}


		&:focus + label::before,
		&:hover + label::before {
			border-color: var(--blue);
			border-width: 2px;
		}

		&:checked + label {
			&::before {
				background: var(--dark-blue);
				border-color: var(--dark-blue);
			}

			&::after {
				content: '';
				position: absolute;
				left: 8px;
				width: 4px;
				height: 10px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				transform: rotate(42deg);
				display: block;
				top: 4px;
			}
		}
		&:checked:focus,
		&:checked:hover {
			+ label::before {
				background: var(--blue);
				border-color: var(--blue);
			}
		}

		&:checked:disabled + label {
			&::after {
				border-color: var(--textcolor);
			}
		}

		&:disabled + label {
			color: var(--gray);
			cursor: not-allowed;
	
			&::before {
				border: var(--field-border);
				box-shadow: none;
				background: var(--moon-gray);
			}
		}

	}

	label {
		position: relative;
		cursor: pointer;
		padding: 0;
	
		&::before {
			border-radius: .125rem;
			content: '';
			margin-right: .5rem;
			display: inline-block;
			vertical-align: text-top;
			width: 22px;
			height: 22px;
			background: #fff;
			border: var(--field-border);
			box-sizing: border-box;
		}
	}


	[type=radio] + label:before {
		border-radius: 50%;
	}
	
	[type=radio]:checked {
		&:focus,
		&:hover {
			+ label::before {
				background: #fff;
			}
			+ label::after {
				background: var(--blue);
			}
		}
	}

	[type=radio]:checked + label {
		&::before {
			background: #fff;
		}

		&::after {
			background-color: var(--dark-blue);
			border: none;
			border-radius: 50%;
			left: 0;
			width: 14px;
			height: 14px;
			top: 0;
			transform: translate3d(4px,4px,0);
		}
	}

	[type=radio]:checked:disabled + label {
		&::before {
			background: var(--moon-gray);
		}

		&::after {
			background-color: var(--mid-gray);
		}
	}
}


/// Small version of checkbox/radios when f6 is added.
.bl-checkboxradio.f6 {
	label:before {
		height: 20px;
		width: 20px;
	}
	
	[type=checkbox] {
		&:checked + label:after {
			left: 7px;
			height: 8px;
		}
	}

	[type=radio] {
		&:checked + label:after {
			left: -1px;
			top: -1px;
		}
	}
}

/** This allows text to wrap. MUST use lh-copy ancestor to line up properly **/
.lh-copy .bl-checkboxradio label { 
	padding-left: 26px;
}
.lh-copy .bl-checkboxradio label::before {
	left: 0;
	position: absolute;
}



/// Special "touch pads" versions of checkbox and radios.
.bl-checkboxradio-pads {
	input {
		border: none;
		height: 1px;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	label {
		cursor: pointer;
		display: inline-block;
		border-radius: .25rem;
		padding: .5rem;
		border: 1px solid var(--textcolor);
		background: var(--near-white);
	
		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}


	input:hover + label {
		background: var(--lightest-blue);
		color: #000;
	}

	input:focus + label {
		outline: 2px dotted var(--dark-blue);
	}

	input:checked + label {
		background: var(--dark-blue);
		color: #fff;
	}

}

