/*
Patterns:
	light-gray for white text on dark background.
	gray for de-emphasized text 'gray' text on white.
	mid-gray barely lighter than text color.
*/

/// Custom site-wide CSS vars to use in addition to Tachyons color vars.
/// @group colors
/// @name Color vars
:root {
	--animation-curve: cubic-bezier(.165,.84,.44,1);
	--tab-background: #f3f3f3;
	--field-border-color: var(--light-silver);
	--field-border: 1px solid var(--field-border-color);
}


/// Default text color
/// @group colors
html, body, button, input, select, textarea, .textcolor {
	color: var(--text-color);
}

.linkcolor {
	color: var(--link-color);
}


/// Add to html element to use Plex font.
/// @group fonts
.plex {
	font-family: IBM Plex Sans, helvetica neue, helvetica, sans-serif;
	
	code,
	pre {
		font-family: IBM Plex Mono, Consolas, monaco, monospace;
	}
}


.sitecolor {
	color: var(--site-color);
}

.hover-sitecolor {
	&:focus,
	&:hover {
		color: var(--site-color);
	}
}

.hover-no-underline:focus,
.hover-no-underline:hover {
	text-decoration: none;
}
