////
/// @group helpers
////

/// Sets image to resize to fill container 100% width, auto height.
.bl-resize {
	height: auto !important;
	width: 100%;
}

/// Sets image to only downsize from original dimensions to fill container 100% width, auto height.
.bl-downsize {
	height: auto !important;
	max-width: 100% !important;
}

/// Breaks words so they don't blow out containers. Useful when displaying URLs.
.bl-word-break-all {
	word-break: break-all;
}

.bl-overflow-wrap-break-word {
	overflow-wrap: break-word;
}


/// Disabled button or field.
.disabled, [disabled] {
	background: var(--moon-gray) !important;
	border-color: var(--moon-gray) !important;
	color: var(--textcolor) !important;
	cursor: not-allowed !important;
}

/// Readonly button or field.
[readonly] {
	background: var(--light-gray) !important;
	border-color: var(--light-gray) !important;
	color: var(--textcolor) !important;
	cursor: not-allowed !important;
}

