////
/// @group modal 
////

.bl-modal {
	display: none;
	
	&.is-open {
		display: block;
	}
}

.bl-modal-overlay {
	z-index: 99999;
}


.bl-modal-close:before {
	content: "\2715";
}

.bl-modal-close:before {
	content: "\2715";
}


// Animation set.
.bl-modal[aria-hidden="false"] .bl-modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.bl-modal[aria-hidden="false"] .bl-modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.bl-modal[aria-hidden="true"] .bl-modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.bl-modal[aria-hidden="true"] .bl-modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.bl-modal .bl-modal-container,
.bl-modal .bl-modal-overlay {
  will-change: transform;
}

@keyframes mmfadeIn {
	from { opacity: 0; }
	  to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}
