.select2-container {
	max-width: 100%;

	&:hover .select2-selection{
		border-color: var(--blue) !important;
		box-shadow: 0 0 0 1px var(--blue) inset;
	}

	.select2-selection--single {
		height: 39px !important;

		.select2-selection__rendered {
			line-height: 38px !important;
		}
	}

	.select2-search--inline .select2-search__field {
		margin-top: 9px;
	}
	
	.select2-search--dropdown .select2-search__field {
		line-height: 24px;
	}

	// .select2-selection--multiple {
	// 	min-height: 43px !important;
	// }
}

.select2 .select2-selection {
	border: var(--field-border)!important;
	border-radius: .25rem;
}


.select2-container--focus .selection .select2-selection {
	border-color: var(--textcolor) !important;
	box-shadow: 0 0 0 1px var(--textcolor) inset;
}

.select2-results__option--highlighted {
	background-color: var(--blue) !important;
}

.select2-selection__rendered {
	line-height: 30px !important;
	//padding-right: 22px !important;
	// margin-bottom: 2px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 4px;
	line-height: 27px;
}

.select2-selection__arrow {
	right: 3px !important;
	top: 8px !important;
}

.select2-selection__clear {
	transform: translate3d(0,.5px,0);
}

.select2-selection__choice__remove {
	color: #666 !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: var(--gray);
}
