.bl-switch {
	display: inline-block;
	height: 22px;
	position: relative;
	width: 44px;
	
	input {		
		height: 0;
		opacity: 0;
		width: 0;
		
		&:checked + .bl-switch-slider {
			background-color: var(--green);
			
			&::before {
				transform: translate3d(22px,0,0);
			}
		}
		
		&:focus + .bl-switch-slider {
			outline: 1px dotted var(--textcolor);
		}
	}
	
	.bl-switch-slider {
		background-color: var(--moon-gray);
		border-radius: 34px;
		bottom: 0;
		cursor: pointer;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: .5s var(--animation-curve);	
		
		&::before {
			background-color: #fff;
			border-radius: 50%;
			bottom: 2px;
			content: "";
			height: 18px;
			left: 2px;
			position: absolute;
			transition: .5s var(--animation-curve);
			width: 18px;
		}
	}
	
}


